.Registrarse{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.Registro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.Registrarse{
    color: #000000;
}

