<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Resumen-alimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card-header>
    <ion-card-title class="Desayuno"> Desayuno </ion-card-title>
  </ion-card-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="Frutas frescas">Frutas frescas</ion-card-title>
    </ion-card-header>


</ion-card>



<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label class="label">--></ion-label>
    <ion-button fill="outline" slot="end" href="https://www.recetaslily.com/post/ejemplos-desayunos-saludables-recetas-faciles/" target="_blank">Google</ion-button>
  </ion-item>

  
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label class="label">--></ion-label>
      <ion-button fill="outline" slot="end" href="https://www.youtube.com/watch?v=YLfU-33nCh8" target="_blank">Youtube</ion-button>
    </ion-item>


    
      <ion-card-header>
        <ion-card-title class="Tostadas integrales">Tostadas integrales</ion-card-title>
      </ion-card-header>

      <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label class="label">--></ion-label>
    <ion-button fill="outline" slot="end" href="https://mx.hola.com/cocina/recetas/20200220161173/tostadas-pan-integral-aguacate/" target="_blank">Google</ion-button>
  </ion-item>

  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label class="label">--></ion-label>
    <ion-button fill="outline" slot="end" href="https://www.youtube.com/watch?v=glyf_lZoSbg" target="_blank">Youtube</ion-button>
  </ion-item>



            <ion-card-header>
              <ion-card-title class="Panqueques   light">Panqueques light</ion-card-title>
            </ion-card-header>

            
              <ion-item>
                <ion-icon name="pin" slot="start"></ion-icon>
                <ion-label class="label">--></ion-label>
                <ion-button fill="outline" slot="end" href="https://recetadepanqueques.com.ar/panqueques-light/" target="_blank">Google</ion-button>
              </ion-item>
            
              
                <ion-item>
                  <ion-icon name="pin" slot="start"></ion-icon>
                  <ion-label class="label">--></ion-label>
                  <ion-button fill="outline" slot="end" href="https://www.youtube.com/watch?v=rtLoijylshU" target="_blank">Youtube</ion-button>
                </ion-item>



                <ion-card-header>
                  <ion-card-title class="Almuerzo Cena"> Almuerzo Cena </ion-card-title>
                </ion-card-header>
              
                
                  <ion-card-header>
                    <ion-card-title class="Salteado de garbanzos con pollo y verduras
                    ">Salteado de garbanzos con pollo y verduras
                  </ion-card-title>
                  </ion-card-header>


                  <ion-item>
                    <ion-icon name="pin" slot="start"></ion-icon>
                    <ion-label class="label">--></ion-label>
                    <ion-button fill="outline" slot="end" href="http://marcelafittipaldi.com.ar/2016/01/salteado-de-garbanzos-con-pollo-y-verduras/" target="_blank">Google</ion-button>
                  </ion-item>
                
                  

                   
                <ion-item>
                  <ion-icon name="pin" slot="start"></ion-icon>
                  <ion-label class="label">--></ion-label>
                  <ion-button fill="outline" slot="end" href="https://www.youtube.com/watch?v=jSiZzQ7hepc" target="_blank">Youtube</ion-button>
                </ion-item>




                <ion-card-header>
                  <ion-card-title class="Snacks"> Snacks </ion-card-title>
                </ion-card-header>
              
               
                  <ion-card-header>
                    <ion-card-title class="Galleta  Saludable">Galleta  Saludable</ion-card-title>
                  </ion-card-header>


                  <ion-item>
                    <ion-icon name="pin" slot="start"></ion-icon>
                    <ion-label class="label">--></ion-label>
                    <ion-button fill="outline" slot="end" href="https://www.numar.net/noticias/como-preparar-galletas-de-jengibre-saludables/" target="_blank">Google</ion-button>
                  </ion-item>
                                  
                   
                <ion-item>
                  <ion-icon name="pin" slot="start"></ion-icon>
                  <ion-label class="label">--></ion-label>
                  <ion-button fill="outline" slot="end" href="https://www.youtube.com/watch?v=xfKqAuAuFuE" target="_blank">Youtube</ion-button>
                </ion-item>
  

            
              
               
                  <ion-card-header>
                    <ion-card-title class="Bizcocho keto">Bizcocho  keto</ion-card-title>
                  </ion-card-header>


                  <ion-item>
                    <ion-icon name="pin" slot="start"></ion-icon>
                    <ion-label class="label">--></ion-label>
                    <ion-button fill="outline" slot="end" href="https://www.numar.net/noticias/como-preparar-galletas-de-jengibre-saludables/" target="_blank">Google</ion-button>
                  </ion-item>
                                  
                   
                <ion-item>
                  <ion-icon name="pin" slot="start"></ion-icon>
                  <ion-label class="label">--></ion-label>
                  <ion-button fill="outline" slot="end" href="https://www.youtube.com/watch?v=xfKqAuAuFuE" target="_blank">Youtube</ion-button>
                </ion-item>




  </ion-card> 


</ion-content>
