<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text="Back"
          color="primary"
          mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Snacks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
          
          <ion-card-title class="Galleta Saludable ">Galleta Saludable </ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-padding contenido">
          INGREDIENTES:
          3 Bananas bien maduras
          1 taza de avena en hojuelas
          1 cdta de polvo de hornear
          Opcionales
          pasas
          nueces
          semillas de amapola
          chips de chocolate
          Preparación
          coloca las bananas en un bowl y conviértelas en puré, para esto solo necesitas pisarla con un tenedor. Agrega el polvo de hornear y mezcla.
          incorpora la avena y mezcla con la ayuda del tenedor
          si usaras ingredientes adicionales, incorpóralos a la mezcla
          calienta la plancha o la sartén a fuego medio
          coloca cucharadas de la mezcla en la plancha del tamaño que desees, ya sea paa hacer tipo galletitas o para hacer pancakes
          cocina bien por un lado hasta dorar y voltea
          cocina bien por el otro lado y voltea de nuevo, esto para lograr que queden bien tostaditas.
          sácalas y sirve con el acompañante que desees
          yo las serví así: les agregue una cdta de ghee recién salidas, con yogur griego mezclado con unas gotas de miel y nueces y frutas frescas.


        </ion-card-content>
        <a>
          <ion-img src="assets/snacks.jpg"></ion-img>
          </a>
        

          
    </ion-card>

  

    <ion-card>
      <ion-card-title class="Bizcocho keto">Bizcocho keto</ion-card-title>

      <ion-card-content class="ion-padding contenido">
        Rinde 4 porciones

        Utensilios que necesitaras
        
        un bol
        una paleta
        un batidor de mano
        un molde para hornear de 10 x 15 cm o mas pequeño
        
        INGREDIENTES
        1 huevo
        110 g 1/2 tz de yogur
        30 g de monk fruit
        15 ml aceite de coco
        jugo de 1 limon
        50g harina de almendras
        15 g polvo de hornear
        15 g de vainilla
        piel de limon
        >Para el Glaseado
        30 ml yogur
        30 g monk fruit
        15 ml jugo de limon
        piel de limon
        15 ml vainilla
        60 ml leche de coco o la que uses
        INSTRUCCIONES
        Paso 1: Mezclar ingredientes líquidos
        
        voy a empezar batiendo bien el huevo antes de comenzar a agregar el resto de ingredientes l
        agregar es el aceite puedes agregar aceite de oliva aceite de coco o también mantequilla 
        
        ahora agregar el endulzante,  el jugo de limón, que es muy importante que esté recién exprimido. Y el extracto de vainilla
        
        Paso 2 :  incorporar ingredientes sólidos
        
        Ahora agregaremos  los ingredientes sólidos o secos ,  la piel de limón rallada bien pequeñita , el polvo de hornear y la harina de almendras de poco a poco .
        
        Paso 3: verter
        
        Engrasa el molde o cúbrelo con papel encerado
        
        Vacía la mezcla en el molde y distribuye muy bien
        
        Paso 4 cocinar
        
        Horno: Precalienta el horno a  180°C | 375°F y Hornea entre 15 a 20 minutos 
        
        Microondas: cocina entre  1 y 2 minutos
        
        Paso 5 Hacer el glaseado
        
        en un pequeño bol mezcla el yogur con el endulzante, el extracto de vainilla , juego de limón y agrega un poco de la leche , mezcla y mira la textura
        
        ve agregando cucharadas de la leche que estés utilizando hasta que veas la textura del glaseado que te gusta si te gusta espesa deja la espesa si te gusta líquida déjala líquida 
        
        Paso 6 decorar el bizcocho
        
        Verte sobre el bizcocho el glaseado
        
        Espolvorea con piel de limón, rodajas de limón y blueberries
      </ion-card-content>
      <a>
      <ion-img src="assets/snacks2.jpg"></ion-img>
      </a>

      

      
    </ion-card>

    
      <ion-card-content>
      
  
      </ion-card-content>



</ion-content>
