<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text="Back"
          color="primary"
          mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Desayuno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
          
          <ion-card-title class="Frutas frescas">Frutas frescas</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-padding contenido">
          La fruta que más te guste.
Incluye más frutas en tus comidas, vale la pena hacerlas parte de tu desayuno saludable para bajar de peso o simplemente para tus hábitos saludables, ya sea comiéndolas solas o en una ensalada de frutas. Los beneficios de las frutas son muy importantes para tener una buena salud y una nutrición adecuada.
Trata de comerlas y no tomarlas en jugos naturales, ya que su contenido de azúcar es mejor procesado por tu organismo si viene acompañado de fibra que es muy beneficiosa para tu salud y bienestar. En este artículo te explico por qué prefiero comer fruta que tomar jugo
Siempre puedes organizarte previamente:
Corta la fruta,
colócala en bolsitas o contenedores de vidrio
refrigérala.


        </ion-card-content>
        <a>
          <ion-img src="assets/desayuno.jpg"></ion-img>
          </a>
        

          
    

      <ion-card-content>

      </ion-card-content>
   
    
      <ion-card-title class="Tostadas integrales">Tostadas integrales</ion-card-title>

    
      <ion-card-content class="ion-padding contenido">
        huevo
        aguacate
        tocineta
        queso
        espinacas
        brotes
        rúcula
        Tostada Dulce
        Banana
        fresa
        Blueberries
Semillas de hemp o semillas de cañamo
Mantequilla de anacardos (mantequilla de merey), cacahuates o almendras
frutos secos
En fin, lo más rico de desayunar una toast o tostada de pan integral es que solo debes hacer volar tu imaginación con ingredientes saludables y hacer tus propias combinaciones.
      </ion-card-content>
      <a>
      <ion-img src="assets/desayuno1.jpg"></ion-img>
      </a>

      

      
    </ion-card>
     <ion-card-title class="Panqueques light">Panqueques light</ion-card-title>

    <ion-card-content class="ion-padding contenido">
      Ésta receta de panqueques light es muy nutritiva y fácil de hacer. Por un lado tienen muchísmas menos calorías que los tradicionales, son más sanos porque están hechos con avena, la cual nos aporta mayormente fibra y otros nutrientes. Además podemos combinarlos con cualquier relleno que se nos ocurra! En ésta ocasíon vamos a combinarlo con un relleno que es también light pero te aseguro que te va a sorprender!
Esta masa para panqueques es reducida en calorías debio a que no utiliza harina de trigo, ni azúcares. Con ello, y eligiendo un relleno adecuado podemos hacer un postre light, delicioso y muy saludable

Tipo de plato: Postre
Cocina: Francesa
Keyword: crepe, flapjack, griddlecake, hotcake, pancake, panqueca, panqueques, tortitas
Porciones: 2 porciones
Calorías: 182 kcal
Ingredientes
Masa de panqueque
1/3 taza avena también puedes utilizar harina de avena
2 u claras de huevo
1 cucharaditas aceite de girasol o mezcla
1/2 cucharadita sal fina
c/n stevia o el endulzante que prefieras
c/n leche descremada
Relleno
3 cucharadas queso crema
c/n stevia endulzante líquido
2 cucharaditas mermelada de frutos rojos también puede ser de ciruela, fresas/frutillas, frambuesas, etc
1 puñado frutos rojos

 
Preparación
Panqueques
Colocar la avena en una multiprocesadora y triturala hasta lograr una consistencia similar a la harina

En un bowl, batir las claras a punto nieve.

En otro recipiente mezclar la harina de avena con la stevia, sal y aceite. Luego comenzar a incorporar lentamente la leche hasta que la mezcla tome una consistencia de crema lechosa, lisa y sin grumos.

Para continuar, agregamos a la preparación anterior las claras a punto nieve mezclando lentamente y en forma envolvente. Dejar descansar en un lugar fresco por un momento.

Para cocinarlos, colocar la panquequera al fuego. Una vez que haya tomado temperatura, retirarla del fuego y untarla con rocío vegetal.Luego agregar una cucharada de la preparación hasta cubrir el fondo de la panquequera con una película delgada de la preparación.Luego de un momento, cuando se haya despegado el panqueque, darlo vuelta y continuar su cocción por un instante.

Relleno Light de frutos rojos
En un bowl pequeño colocar el queso crema y endulzarlo con stevia. Revolver hasta que queden mezclados ambos ingredientes.

Incorporar la mermelada de frutos rojos y mezclarla solo un poco, sin llegar a que se integren ambas preparaciones.

Armado del panqueque
Colocar un panqueque sobre el plato. Cubrirlo con una capa de la preparación de relleno, luego agregarle los frutos rojos y doblar a la mitad el panqueque


Muy rico! Solo hay que encontrar un queso blanco de sabor suave para que resalte el gusto de las frutas.

    </ion-card-content>
    <a>
      <ion-img src="assets/desayuno2.jpg"></ion-img>
    </a>

  
      
    
      <ion-card-content>
      
  
      </ion-card-content>







</ion-content>
