<ion-header class="ion-no-border">
  <ion-toolbar color="warning">

    <ion-buttons slot="start">
      
      
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <ion-img src="/assets/aliimentos.jpg"></ion-img>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="dark" class="login">Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form >
      <br>
      <ion-button color="success" class="ingresar" (click)="ingresar()">
        Ingresar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/registro']">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>