<app-header titulos='noticias'></app-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-back-button 
      defaultHref="/"
      text="Back"
      color="primary"
      mode="ios"></ion-back-button>
      <ion-title >Noticias</ion-title>
    </ion-card-header>
    <ion-img src="https://imagenes.elpais.com/resizer/evbNuXgyAc8Yzc56uT_OtG3iVKo=/414x311/cloudfront-eu-central-1.images.arcpublishing.com/prisa/MDEHS2ZFOBCMPLXKLDJUVMLQCU.jpg"></ion-img>
    <ion-card-title>Las inversiones que determinan lo que se come hoy y lo que se va a comer mañana</ion-card-title>
    Las empresas que innovan para mejorar la manera en la que se alimenta una población en crecimiento en un entorno de escasos recursos y con un planeta sobrecalentado obtienen parte de su financiación de carteras de activos que están al alcance de cualquier ahorrador
  </ion-card>
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-img src="https://imagenes.elpais.com/resizer/NM6NFUOgpez09Btp8BcweN31AFs=/414x311/cloudfront-eu-central-1.images.arcpublishing.com/prisa/IR3BRDHT5VEKTM7JSP4XDRHOGM.jpg"></ion-img>
    <ion-card-title>Julio Basulto: “Si jamás hay que obligar a un niño a comer, a un niño vegetariano tampoco”</ion-card-title>
    ‘Alimentación vegetariana en la infancia’ es un completo y riguroso manual en el que el dietista, junto a otros expertos, ofrece toda la información que necesitan aquellas familias que desean ofrecer a sus hijos e hijas una dieta sin carne bien planificada
  </ion-card>
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-img src="https://imagenes.elpais.com/resizer/DjT7_oeOhqMPuUfALyyRyR0LZA4=/414x311/cloudfront-eu-central-1.images.arcpublishing.com/prisa/7TWXIOMJ6VCWJKWVTZIBJFXHLQ.jpg"></ion-img>
    <ion-card-title>El mercado de alimentación del futuro: la nueva carne es vegetal</ion-card-title>
    Lo cárnico ya ha dejado de entenderse como un producto procedente, únicamente, de los animales. Ahora puede ser vegetal y cultivada
  </ion-card>
</ion-content>