<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text="Back"
          color="primary"
          mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Almuerzo Cena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
          
          <ion-card-title class="Salteado de garbanzos con pollo y verduras">Salteado de garbanzos con pollo y verduras</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-padding contenido">
          Ingredientes

          Para 4 personas
          
          Garbanzos cocidos200 g
          
          Pechuga de pollo200 g
          
          Brócoli pequeño1
          
          Calabacín pequeño1
          
          Zanahoria1
          
          Cebolla1
          
          Dientes de ajo1
          
          Aceite de oliva virgen extra
          
          Sal
          
          Pimienta negra
          
          Cómo hacer salteado de pollo y garbanzos con verduras
          
          Dificultad: Fácil
          
          Tiempo total35 m
          
          Elaboración15 m
          
          Cocción20 m
          
          Empezamos con el pollo. Lo cortamos en tiras (sin piel ni huesos) y lo ponemos a macerar con un diente de ajo picado y un par de cucharadas de aceite.
          Mientras preparamos las verduras. La zanahoria la limpiamos, "pelamos" y cortamos en bastones finos, el brócoli lo separamos en arbolitos y el calabacín lo limpiamos y cortamos con piel en dados, además la cebolla la pelamos y cortaremos en juliana.
          
          En una sartén salteamos el pollo hasta dorarlo, lo reservamos. Añadimos en la misma sartén la cebolla, dos minutos después el resto de verduras y salteamos un par de minutos más.
          Añadimos el pollo y los garbanzos y removemos, mezclando y salteando a la vez durante otros dos o tres minutos.
        </ion-card-content>
        <a>
          <ion-img src="assets/almuerzo.jpg"></ion-img>
          </a>
    </ion-card>

    
    <ion-card>

    
      <ion-card-content>
  
      </ion-card-content>
    </ion-card>
    
      <ion-card-content>
  
      </ion-card-content>







</ion-content>
